/* 
    --background-pastel-blue: #8EC4CB33;
    --ocean-blue: #2D5194;
    --background-lemon: #BAC25F99;
    --notreallyblack: #14110F;
    --notreallywhite: #FCFCFC;
    --lightgrey: #E0E0E0;
    --mediumgrey: #3A4049;
 
    --image-shadow: 0px 3px 7px -3px rgba(0, 0, 0, 0.30), 0px 6px 12px -2px rgba(50, 50, 93, 0.25);
    --blog-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.20);

    --left-corner: 6.25rem 0rem 0rem 0rem;
    --right-corner: 0rem 6.25rem 0rem 0rem;
    --two-corners: 0rem 4.375rem;
    --small-two-corner: 0rem 2rem;
    --mobile-left-corner: 3.125rem 0rem 0rem 0rem;
    --mobile-right-corner: 0rem 3.125rem 0rem 0rem;
    --mobile-two-corners:0rem 2.5rem;
    --mobile-small-two-corner: 0rem 1.5625rem ;

    --libre-baskerville: 'Libre Baskerville', serif;
    --source-sans-pro: 'Source Code Pro', monospace;

*/



p{
    font-family: var(--source-sans-pro);
    color: var(--notreallyblack);
}

h1{
    text-align: center;
    font-family: var(--libre-baskerville);
    font-weight: 700;
}

h2{
    font-family: var(--libre-baskerville);
    font-weight: 700;
    font-size: 2rem;
}

.contact-frame{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7.5rem;
    padding: 7.5rem 5rem;
}

/* ============ Contact Form ================*/

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.name-firstname{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

input{
    padding: 0.75rem 1rem;
    width: 100%;
    border: 1px solid var(--lightgrey);
    border-radius: 0.5rem;
}

textarea{
    padding: 0.75rem 1rem;
    width: 100%;
    border: 1px solid var(--lightgrey);
    border-radius: 0.5rem;
    height: 8rem;
    font-family: var(--source-sans-pro);
}

#check-conditions{
    width: fit-content;
}

form img{
    width: 18rem;
    align-self: center;
}

button{
    border: none;
    padding: 0.75rem 1.25rem;
    border-radius: 0.5rem;
    background-color: var(--ocean-blue);
    color: var(--notreallywhite);
    font-weight: 600;
}


/* =============== Map Section ============*/

.contact-maps{
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

.contact-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.contact-phone{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.adress-text{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--mediumgrey);
}

.map-saint-malo, .map-dinard{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.map-saint-malo-text, .map-dinard-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.map-dinard iframe, .map-saint-malo iframe{
    border-radius: 12px;
}
@media screen and (max-width: 800px){

    h2{
        font-size: 1.5rem;
    }

    .adress-text{
        font-size: 1.25rem;
    }

    .contact-frame{
        padding: 2.5rem 2rem;
    }
    
    .name-firstname{
        flex-direction: column;
    }

    .contact-maps{
        box-sizing: border-box;
        align-items: stretch;
        max-width: -webkit-fill-available
    }

    .map-saint-malo img{
        display: block;
        width: -webkit-fill-available;
    }

    .map-dinard img{
        display: block;
        width: -webkit-fill-available;
    }

    
}


